.slider_content{
  max-width: 1300px;
  display: flex !important;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.slider_button{
  font-size: 18px;
  letter-spacing: 0px;
  background-color: rgb(112, 170, 38);
  font-family: 'Inter',sans-serif;
  color: rgb(255, 255, 255);
  font-weight: 600;
  padding: 15px 80px;
  border-radius: 10px;
  text-decoration: none;
  margin-top: 30px;
}

.slider_title{
  padding: 0px 10px;
  font-family: 'Inter',sans-serif;
  text-transform: capitalize;
  line-height: 60px;
  font-weight: 700;
  font-size: 48px;
}

.container {
  padding: 40px;
}

.slick-slide img {
  margin: auto;
}

.slick-prev:before, .slick-next:before{
  color: black !important;
  font-size: 30px;
}
.slick-prev:before{
  content: url('left.png');
}
.slick-next:before{
  content: url('right.png');
}


@media only screen and (max-width: 1024px) and (min-width: 768px) {
  .slider_content{
    max-height: max-content;
    display: grid !important;
  }
  .slider_img{
    order: 1;
  }
  .slider_img img{
    max-height: 500px;
  }
  .slider_text{
    order: 2;
    text-align: center;
  }
  .slider_button{
    font-size: 18px;
    font-weight: 600;
    line-height: 60px;
    padding: 15px 80px;
    border-radius: 10px;
    margin-top: 30px;
  }
  .slider_title{
    text-transform: capitalize;
    line-height: 60px;
    font-size: 48px;
  }
  
}

@media only screen and (max-width: 767px) {
  .slider_content{
    display: grid !important;
  }
  .slider_img{
    order: 1;
  }
  .slider_img img{
    max-height: 300px;
  }
  .slider_text{
    order: 2;
    text-align: center;
  }
  .slider_button{
    font-size: 12px;
    font-weight: 600;
    line-height: 30px;
    padding: 10px 60px;
    border-radius: 10px;
    margin-top: 30px;
  }
  .slider_title{
    text-transform: capitalize;
    line-height: 40px;
    font-size: 24px;
  }

}


/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
